{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="{% static 'css/tasks.css' %}">
</head>
<body>
<header class="header">
    <h1><a href="{% url 'list' %}" class="title">Sistema de tarefas</a></h1>
    <nav class="nav">
        {% if user.is_authenticated %}
            <span class="username">Bem-vindo, {{ user.username }}!</span>
            <a href="{% url 'logout' %}" class="btn1">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="btn1">Login</a>
            <a href="{% url 'register' %}" class="btn1">Registrar</a>
        {% endif %}
    </nav>
</header>
<main class="content">
    {% block content %}{% endblock content %}
</main>
<footer class="footer">
    <p>Sistema de tarefas 2025</p>
</footer>
</body>
</html>