{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1>Nova Tarefa</h1>
    <form action="{% url 'create_task' %}" method="POST" class="form">
        {% csrf_token %}
        <input type="text" placeholder="Título" name="title" class="form-field" required>
        <textarea placeholder="Descrição" name="description" class="form-field" rows="4"></textarea>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Criar Tarefa</button>
            <a href="{% url 'list' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}