<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        {% extends "base.html" %}
        {% block content %}
        <h1>Register</h1>
        <form class="form-container" action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            <input class="form-field" type="text" placeholder="Username" name="username">

            <input class="form-field" type="email" placeholder="Email" name="email">

            <input class="form-field" type="password" placeholder="Password" name="password">

            <input class="btn-primary" type="submit" value="Register">

        </form>
        {% endblock %}
    </body>
</html>