{% extends "base.html" %}
{% block content %}
<div class="form-container">
    <h1>Registrar</h1>
    <form action="{% url 'register' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" class="form-field">
        <input type="email" name="email" placeholder="Email" class="form-field">
        <input type="password" name="password" placeholder="Password" class="form-field">
        <input type="submit" value="Registrar" class="btn-primary">
    </form>
</div>
{% endblock %}